/* Basic Animations */
.animate-title {
    animation: slideInFromLeft 1s ease-out;
}

.animate-subtitle {
    animation: fadeIn 2s ease-in;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Update these animations with .active class for triggering */

.animate-title, .animate-subtitle, .timeline-item, #messages p, #gallery .gallery-grid img {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-out;
}

/* When the elements become active, they transition into view */
.active {
    opacity: 1;
    transform: translateY(0);
}
