/* Basic Animations */
.animate-title {
    animation: slideInFromLeft 1s ease-out;
}

.animate-subtitle {
    animation: fadeIn 2s ease-in;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
