/* General Body Styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

/* Container */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Hero Section */
#hero {
    background: url('../images/hero.jpg') no-repeat center center/cover;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero-content {
    margin: 0 20px;
}

/* Timeline */
#timeline {
    background: #fff;
    color: #333;
    padding: 20px;
    margin: 20px 0;
}

.timeline-item {
    margin-bottom: 20px;
}

.timeline-item img {
    width: 100%;
    border-radius: 5px;
}

/* Messages Section */
#messages {
    background: #eee;
    padding: 20px;
    margin: 20px 0;
}

/* Gallery */
#gallery .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 20px;
}

#gallery .gallery-grid img {
    width: 100%;
    border-radius: 5px;
}

@media (max-width: 768px) {
    #gallery .gallery-grid {
        grid-template-columns: 1fr;
    }
}

/* General Image Styling */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Specific Adjustments for Uniform Sizes */
/* Assuming you want all images to maintain a specific aspect ratio, such as 16:9 */
.image-wrapper {
    width: 100%; /* Adjust this as needed */
    overflow: hidden;
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the padding area */
}

/* Adjustments for Timeline and Gallery Images */
#timeline .timeline-item img, #gallery .gallery-grid img {
    display: inline-block;
    width: 100%; /* Ensures the image takes the full width of its container */
    height: auto; /* Maintains the aspect ratio */
    border-radius: 5px;
}

/* Improved styling for images to maintain aspect ratio */
.image-container {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover; /* This will ensure the image covers the area, you might lose some parts of the image */
}

/* Specific styles for timeline and gallery sections */
#timeline .timeline-item, #gallery .gallery-grid div {
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;
    background-size: cover;
}

#timeline .timeline-item img, #gallery .gallery-grid img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}